/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

table.table-grey {
    background-color: #222222;
    color: #808080;
}

table.table-grey thead tr {
    color: #00ad5f;
}

.table-hover-white tbody tr:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.075);
}

.button-section {
    padding-bottom: 20px;
}

.btn-rounded {
    border-radius: 20px;
}

.btn-rounded-primary {
    background-color: #00796b;
    color: white;
    border-color: #00796b;
}

.btn-rounded-primary:hover {
    background-color: #00ad5f;
    color: white;
    border-color: #00ad5f;
}

.btn-rounded-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 173, 95, 0.5);
}

/* ----------------
  Form
---------------------*/

.form {
    padding-top: 30px;
}

.form input,
.form textarea,
.form select {
    width: 100%;
    height: 56px;
    border: none;
    padding: 0 29px;
    background: #eff4f7;
    border-radius: 4px;
    margin-bottom: 21px;
}

.form textarea {
    padding: 23px 29px;
    height: 195px;
}

.form input[type=checkbox] {
    margin-bottom: 0px;
}

/* ----------------
  Validation
---------------------*/

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}