/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.main-page-section {
  min-height: 100%;
}

table.table-grey {
    background-color: #222222;
    color: #808080;
}

table.table-grey thead tr {
    color: #00ad5f;
}

.table-hover-white tbody tr:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.075);
}

.button-section {
    padding-bottom: 20px;
}

.btn-rounded {
    border-radius: 20px;
}

.btn-rounded-primary {
    background-color: #00796b;
    color: white;
    border-color: #00796b;
}

.btn-rounded-primary:hover {
    background-color: #00ad5f;
    color: white;
    border-color: #00ad5f;
}

.btn-rounded-primary:focus, .btn-rounded-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 173, 95, 0.5);
}

/* ----------------
  Button hamburger
---------------------*/

.btn-hamburger {
    color: white;
    font-size: 1.25rem;
}

.btn-hamburger:hover {
    color: #eb2b63;
}

.btn-hamburger:focus, .btn-hamburger.focus {
    box-shadow: none;
}

.dropdown.show .btn-hamburger {
    color: #eb2b63;
}

/* ----------------
  Form
---------------------*/
.form {
    padding-top: 30px;
}

.form input,
.form textarea,
.form select {
    width: 100%;
    height: 56px;
    border: none;
    padding: 0 29px;
    background: #eff4f7;
    border-radius: 4px;
    margin-bottom: 21px;
}

.form textarea {
    padding: 23px 29px;
    height: 195px;
}

.form input[type=checkbox] {
    margin-bottom: 0px;
}

/* ----------------
  Validation
---------------------*/

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* ----------------
  Upload file
---------------------*/
body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

/* ----------------
  Category Images 
---------------------*/
.img-hover-zoom {
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}

.img-hover-zoom:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
}

.category-img {
    width: 250px;
    height: 170px;
}

.category-appear-message {
    color: red;
    text-align: center;
}

.site-logo img {
    height: 45px;
}

/* ----------------
  User Panel
---------------------*/

.user-panel button {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.user-panel #manage {
    padding-right: 0px;
}

.user-panel #logoutForm {
    padding-left: 0px;
}

.user-panel #logout {
    padding-left: 0px;
    padding-top: 0px;
}

.forgot-password-btn {
    color: white;
    background-color: #eb2b63;
    width: 100%;
}

.forgot-password-btn:hover {
    color: black;
    background-color: white;
}

.forgot-password-title {
    color: white;
    text-align: center;
}

p.forgot-password-title {
    color: white;
    text-align: center;
    margin-bottom: 0px;
}