@model IEnumerable<Epam.ASPCore.Northwind.WebUI.Models.CategoriesModel>

@{
    ViewData["Title"] = "Categories Page";
}


<section class="page-top-section set-bg" data-setbg="./images/template/page-top-bg.jpg">
    <div class="container">
        <h2>Categories</h2>
        <div class="site-breadcrumb">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> / <span>Categories</span>
        </div>
    </div>
</section>

<section class="main-page-section">
    <div class="container">
        <div class="section-title">
            <h2>Categories</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="team-member" id="@item.CategoryId">
                        <img src="@Url.Action("GetImage", new {id = item.CategoryId})" class="img-hover-zoom" onclick="UploadImage(this)" alt="Image" />
                        <h4>@item.CategoryName</h4>
                        <p>@item.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        function UploadImage(el) {
            var id = $(el).parent()[0].id;
            window.location = window.location.href + "\\UploadImage?categoryId=" + id;
        }
    </script>
}