@model Epam.ASPCore.Northwind.WebUI.Models.ProductsModel
@{
    ViewData["Title"] = "Product form";
    var pageName = ViewBag.Mod == "Add" ? "Create New Product" : $"Edit {Model.ProductName}";
}

<section class="page-top-section set-bg" data-setbg="../images/template/page-top-bg.jpg">
    <div class="container">
        <h2>@pageName</h2>
        @await Component.InvokeAsync("Breadcrumbs", new List<BreadcrumbModel>
        {
            new BreadcrumbModel { EntityName = "Products", ActionName = "Index", ControllerName = "Products" },
            new BreadcrumbModel { EntityName = pageName, IsCurrentPage = true }
        })
    </div>
</section>

<section class="main-page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="form" method="post" asp-controller="Products" asp-action="@ViewBag.Mod">
                    <div asp-validation-summary="All"></div>
                    @if (ViewBag.Mod == "Update")
                    {
                        <input asp-for="ProductId" type="hidden" value="@Model.ProductId">
                    }
                    <div class="form-group">
                        <label class="col-sm-2">Product Name:</label>
                        <div class="col-sm-10">
                            <input asp-for="ProductName" class="form-control" placeholder="Enter name">
                            <span asp-validation-for="ProductName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Quantity Per Unit:</label>
                        <div class="col-sm-10">
                            <input asp-for="QuantityPerUnit" class="form-control" placeholder="Enter quantity">
                            <span asp-validation-for="QuantityPerUnit"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Unit Price:</label>
                        <div class="col-sm-10">
                            <input asp-for="UnitPrice" class="form-control" placeholder="Enter price">
                            <span asp-validation-for="UnitPrice"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Units In Stock:</label>
                        <div class="col-sm-10">
                            <input asp-for="UnitsInStock" class="form-control" placeholder="Enter number">
                            <span asp-validation-for="UnitsInStock"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Units On Order:</label>
                        <div class="col-sm-10">
                            <input asp-for="UnitsOnOrder" class="form-control" placeholder="Enter number">
                            <span asp-validation-for="UnitsOnOrder"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Reorder Level:</label>
                        <div class="col-sm-10">
                            <input asp-for="ReorderLevel" class="form-control" placeholder="Enter level">
                            <span asp-validation-for="ReorderLevel"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Discontinued:</label>
                        <div class="col-sm-1">
                            <div class="form-check-label">
                                <input type="checkbox" asp-for="Discontinued">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Category:</label>
                        <div class="col-sm-10">
                            <select asp-for="Category.CategoryId" asp-items="ViewBag.Categories"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Supplier:</label>
                        <div class="col-sm-10">
                            <select asp-for="Supplier.SupplierId" asp-items="ViewBag.Suppliers"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row col-sm-10">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success btn-rounded">@ViewBag.Mod</button>
                            </div>
                            <div class="col-md-8">
                                <button type="button" class="btn btn-primary btn-rounded" onclick="CancelAction()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>