@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <a id="manage" class="col-9" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)! /</a> 
        <form id="logoutForm" class="col-3" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit">Logout</button>
        </form>
    </div>
}
else
{
    <a id="login" asp-area="Identity" asp-page="/Account/Login">Log In / </a> 
    <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
}
